<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link href="{{ site.baseurl }}/share-button.min.css" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  {% seo %}
  <meta property=”og:image” content="https://rweekly.org/public/logo.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="RWeekly - {{ page.title }}" />
  {% if page.title == "Home" %}
      <meta name="twitter:description" content="Weekly News in R Community" />
  {% else %}
      <meta name="twitter:description" content="{{ page.description }}" />
  {% endif %}
  <meta name="twitter:image" content="https://rweekly.org/public/logo.png" />
</head>
