
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="/public/jscroll.min.js" charset="utf-8"></script>
<script type="text/javascript">

performance = window.performance || window.mozPerformance || window.msPerformance || window.webkitPerformance || performance || undefined;

if (performance.timing){

  window.addEventListener('DOMContentLoaded', function ()
  {
    setTimeout(function(){
      var loading_time = performance.timing.domContentLoadedEventEnd - performance.timing.navigationStart;
      _paq.push(['trackEvent', 'DomTime', 'Start', loading_time/1000]);
      }, 100);
  });

  window.addEventListener('load', function ()
  {
    setTimeout(function(){
      var loading_time = performance.timing.loadEventEnd - performance.timing.navigationStart;
      
      _paq.push(['trackEvent', 'DomTime', 'End', loading_time/1000]);
    }, 100);
  });
}

WebFontConfig = {
  custom: {
    families: ['Source Sans Pro']
  },
  timeout: 4000 // Set the fonts loading timeout to 4 seconds
};

{% include webfont.min.js %}

</script>

<style type="text/css">

/* source-sans-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('/fonts/source-sans-pro-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v9-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
       url('/fonts/source-sans-pro-v9-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v9-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

</style>

<style>
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
</style>

<script>
{% include twemoji.min.js %}

document.addEventListener("DOMContentLoaded", function(){
  twemoji.parse(document.body,
  {
    folder: 'svg',
    ext: '.svg'
  });
});

// include nprogress.min.js

function getScrollPercent() {
    var h = document.documentElement, 
        b = document.body,
        st = 'scrollTop',
        sh = 'scrollHeight';
    return (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight);
}

if (typeof global_notdone === 'undefined') {
    var global_notdone = true;
}

// if(global_notdone){
//   NProgress.configure({ trickle: false, showSpinner: false, minimum: 0.01 });

//   NProgress.start();
// }

// function update_nprogress(){
//   var perc = getScrollPercent()
//   if(perc > 0.98 && global_notdone){
//     NProgress.done();
//     global_notdone = false;
//   }
//   if(global_notdone){
//       NProgress.set(getScrollPercent())
//   }
// }

// if(global_notdone){
//   document.addEventListener("scroll", update_nprogress);
//   document.addEventListener("touchmove", update_nprogress);
// }

</script>