
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="/jscroll.min.js" charset="utf-8"></script>
<script type="text/javascript">
// content selector is used to extract the additional items 
var repat = new RegExp("https?://");
$('.content').jscroll({
    loadingHtml: "<small>Next Issue ... </small>",
    contentSelector: '#posts-content',
    nextSelector: '#next-page',
    loadingFunction: function(){
      var new_page = $('#next-page')[0].href.replace(/(https:\/\/)|(http:\/\/)|(\/index.html)/g, '');
      var xhr = new XMLHttpRequest();
      xhr.open("GET","https://page.rweekly.org/?page="+ new_page);
      xhr.send();
    },
    callback: function(){
      add_external_links();
    },
    padding: 20
});

WebFontConfig = {
  custom: {
    families: ['Source Sans Pro']
  },
  timeout: 4000 // Set the fonts loading timeout to 4 seconds
};

{% include webfont.min.js %}

</script>

<style type="text/css">

/* source-sans-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('/fonts/source-sans-pro-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v9-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
       url('/fonts/source-sans-pro-v9-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v9-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

</style>
