// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  5%;
  padding-right: 1.5rem;
  margin-left:  20%;
  margin-right: auto;
}

@media (max-width: 650px){
  .container {
  max-width: 38rem;
  padding-left:  1.5em;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

}



footer {
  margin-bottom: 2rem;
}

// input[type=text] {
//     padding: 12px 20px;
//     margin: 8px 0;
//     box-sizing: border-box;
// }

.title-filter{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAARnQU1BAACxjwv8YQUAAAABc1JHQgCuzhzpAAAAPFBMVEUAAABxcXF6enp5eXl3d3d6enp6enp4eHh5eXl2dnZ6enp6enp1dXV6enp5eXl3d3d/f395eXl5eXl6enpvqRSPAAAAE3RSTlMACeyhIN/bItQcoDAN0ckPEMuyE8p8VwAAAE9JREFUGNNjYKAxYGRHAoxwYWZhJMAFF+ZkQ4iysjBgEUcWRYijisLE0UWB4kzCwkycmK7kEBbmYKCRsBB2YX4+rMIMAoK8WAOSh5u6EQMAXYIFjaYKi04AAAAASUVORK5CYII=");
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
  background-position: 2px 1px;
  background-repeat: no-repeat;
  padding: 2px 0px 2px 25px;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  width: 70%;
}

.title-filter:focus {
    width: 90%;
}

.github-search-box {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAB+ElEQVQ4jaXUTU/yQBSGYf///2G+PyQ2NAUk7mwibGShMTGFYoVI9X4XholIseZ1Nk2bk6uT85yZC76ttm2Zz+cURUGMkRgjeZ5TliXb7fZ7eee6+PpSliWDwQBrLd57QgiEEPDeY61FCMFsNvs9WhQFWusEWWvRWqO1xhhz9P3y8rIfLcsSrTUxRpxzGGNYLBasVivquub+/j6BMUastUwmk/No27YMBgNCCDjnyLLsbPH19XWCpZRUVdWNzudzrLWEEDDG/NwsYDgc4r3HOcd0Ou1Gi6JIQSwWi1706ekp9Vgp1Y3GGAkhoLVmvV73om3bopRKLXh/fz9FD6lqranruhf9+Pg4Qvf7/Sk6Go1SP5fLZS9aVVUaPSllZ83F7e0tzjm898QYe9FDBt578jzvRpumQQiR5u/m5uYseHd3l+bZGMPj42M3CjCZTNL8GWPIsozn5+dUtF6vGY/HCTxk0BVSQoGjE+O9R2uNlBIpJVprnHMJPDyVUry9vZ1HAUajEVLKo8vk66VijEkhHX6ulGK3251H4XO48zxHSolSCqUUQgiyLOPh4YGqqhBCHO1YSsnr6+t59Ova7XYnuwBYrVad8MvLSz/606rr+gQWQtA0zf+jAJvN5gj23jMcDv+GAjRNk8I9HKA/o/DZ+6urK0II1HXNP+caW2+2i/fCAAAAAElFTkSuQmCC');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  width: 90%;
}

// input[type=text] {
//     -webkit-transition: width 0.4s ease-in-out;
//     transition: width 0.4s ease-in-out;
// }

input[type=text]:focus {
    width: 100%;
}

.externalLink  {
    position: relative;
    display: inline;
    // border-bottom: 1px dotted black;
}


.externalLink .spantext {
    display: none;
    visibility: hidden;
    background-color: #525252;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 5px 5px;
    bottom: 100%;
    left: 15px;
    //  margin-left: -60px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: all 0.1s ease-in-out
}

body.show-origin {
  text.tooltiptext {
      color: #999;
  }
  span.tooltiptext {
      color: #999;
  }
}

body.hide-origin {
  text.tooltiptext {
    display: none;
  }
  span.tooltiptext {
    display: none;
  }
  .externalLink .spantext {
    display: flex;
  }
  .externalLink:hover {
      height: $root-line-height;
  }

  .externalLink:hover .spantext {
      visibility: visible;
      opacity: 0.85;
  }

  .externalLink:hover .spantext:hover {
      visibility: hidden;
      opacity: 0.85;
      transition: opacity 0.1s ease-in-out;
  }
}

body.no-feature-like{
  .upvote-click {
    display: none;
  }
  .liketext {
    display: none;
  }
  .like-beta{
    display: none;
  }
}

ul.ul-no-liketext{
  
  .liketext {
    display: none;
  }
}

.upvote-click {
  border: none;
  display: inline;
  vertical-align: middle;
  border-radius: 0px;
  margin: auto;
  height: 12px;
  padding-left: 4px;
}

.hidetext {
  display: none;
}

.liketext {
  color: #8B4513;
}

.upvote {
  display: none;
  border: none;
  vertical-align: middle;
  border-radius: 0px;
  margin: auto;
  height: 12px;
}

ul {
  padding-left: 15px;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

.post {
  a {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
  }
}


.input-box {
  width: 70%;
  font-size: 15px;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
}

.li-show {
  display: auto;
}

.li-hide {
  display: none;
}
