<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
  <body class="show-origin no-feature-like">

    <div id="toc"></div>
    <!--/.well -->

    <div id="podcast" class="podcast">
      <div class="podcast-title"><strong>RWeekly Podcast</strong></div>
      <iframe id="ytplayer" type="text/html" class="podcast-player"
      src="https://www.youtube.com/embed/videoseries?list=PLGxFMt5POda38NafNl6GR3ydh-WXjPV3k&showinfo=0"></iframe>
    </div>

  {% include github-corner.html %}

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title default-links">
          <a href="{{ site.baseurl }}/" title="Home" style="padding: 0 9px 0 0;font-weight: bold; opacity: 1;">RWeekly.org</a>
          <a href="/live" style = "padding: 0 9px 0 0;color:#2a7ae2;">Live</a>
          <a href="https://feedburner.google.com/fb/a/mailverify?uri=rweekly&amp;loc=en_US" target="_blank" onclick="_paq.push(['trackEvent', 'Mail', '1']);" style = "padding: 0 9px 0 0;color:#2a7ae2;">Mail</a>
          <a href="/atom.xml" style = "padding: 0 9px 0 0;color:#2a7ae2;">Feed</a>
          <a href="https://conf.rweekly.org" style = "padding: 0 9px 0 0;">Conf</a>
          {% for page in site.pages_list %}
              <a href="{{ page[1]  }}" style = "padding: 0 9px 0 0;">{{ page[0] }}</a>
          {% endfor %}
          <span class="like-beta"><a href="/like" style = "padding: 0 9px 0 0;">Like</a></span>
          <a href="/submit" style = "padding: 0 9px 0 0;">Submit</a>
          <a href="#" onclick="nightMode();" style = "padding: 0 9px 0 0;">Night</a>

        </h3>
      <!--&nbsp;&nbsp;&nbsp;-->
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        {% capture footer-md %}{% include footer.md %}{% endcapture %}
        {{ footer-md | markdownify }}
        <small>
          &copy; 2016-2017 RWeekly.org &nbsp;
        </small>
      </footer>
    </div>


    <script>
    {% include readable-number.js %}

    page_view = document.getElementById("page_view");
    var xhr = new XMLHttpRequest();
    xhr.open("GET","https://page.rweekly.org/?page="+document.location.host + document.location.pathname);
    if (page_view){
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var ns = new NumberStrings();
            var myArr = JSON.parse(xhr.responseText);
            if (myArr.hit < 1000){
              page_view.innerHTML = myArr.hit + " views" ;
            } else {
              page_view.innerHTML = ns.getDecimal(myArr.hit).toFixed(2) + " " + ns.getName(myArr.hit) + " views" ;
            }
        }
      };
    }
    xhr.send();

    var anchorForId = function (id) {
      var anchor = document.createElement("a");
      anchor.className = "header-link";
      anchor.href      = "#" + id;
      anchor.innerHTML = "<i class=\"fa fa-link\"></i>";
      return anchor;
	  };

    var linkifyAnchors = function (level, containingElement) {
      var headers = containingElement.getElementsByTagName("h" + level);
      for (var h = 0; h < headers.length; h++) {
        var header = headers[h];

        if (typeof header.id !== "undefined" && header.id !== "") {
          // header.appendChild(anchorForId(header.id));
          header.removeAttribute("id");
        }
      }
    };

    document.onreadystatechange = function () {
      if (this.readyState === "complete") {
        var contentBlock = document.getElementsByClassName("post")[0]
        if (!contentBlock) {
          return;
        }
        for (var level = 1; level <= 5; level++) {
          linkifyAnchors(level, contentBlock);
        }
      }
    };
  
  add_external_links();
console.log(`%c               ..     .                 
            .?????.+++++                
        ?8.  .???   +++.  ~+.           
       . .. ..... ... .. +.. .          
      ?... .+.. . 88  ...?......        
      .?. .+++=.      ..???. .++        
       .   +~+,         ..?.  +,        
         ...  ,              8. .       
        ??II..,          .:88888        
        .III  ,            .888.        
        ?..I  ,         +  .....        
        +. ...$     ... ...++ .         
        +++..8$.,  ????. .++++.         
       .++.  8O8O  .?,?.  ++=.          
         .. .+.           I             
        +...+++...:==~...I.             
       .+. .+++. ,.===. .II.            
       .+  .+.~    ..= ..I.7            
          =+  ,        +,    .7.        
       ..????.,       .+++..7777        
         ???? ,        ..+  .777        
        ..... ,          .  .. .        
        +.. ..             :+....=      
        .,...               .+...       

Join us! https://rweekly.org/about.html `, "font-family:monospace")

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }).catch(function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    }

    </script>
  
  {% include inf.html %}
  {% include totop.html %}

  {% include filter.html %}

  </body>
</html>
