<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home" style="padding: 0 9px 0 0;">RWeekly.org</a>
          {% for page in site.pages_list %}
              <small><a href="{{ page[1]  }}" style = "padding: 0 9px 0 0;">{{ page[0] }}</a></small>
          {% endfor %}
          <small><share-button style = "padding: 0 9px 0 0;">Share</share-button></small>
          <small><a href="/search.html" style = "padding: 0 9px 0 0;">Search</a></small>
        </h3>
      <!--&nbsp;&nbsp;&nbsp;-->
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        {% capture footer-md %}{% include footer.md %}{% endcapture %}
        {{ footer-md | markdownify }}
        <small>
          &copy; 2016 RWeekly.org &nbsp;
        </small>
      </footer>
    </div>


    <script>
    page_view = document.getElementById("page_view");
    if (page_view){
      var xhr = new XMLHttpRequest();
      xhr.open("GET","https://page.rweekly.org/?page="+document.location.host + document.location.pathname);
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var myArr = JSON.parse(xhr.responseText);
            page_view.innerHTML = myArr.hit + " views" ;
        }
      };
      xhr.send();
    }
    </script>

    <script>
    {% include share-button.min.js %}

   </script>
   <script>
    var shareButton = new ShareButton({
        ui: {
            flyout: "bottom left"
        },
        networks: {
            pinterest: {
                enabled: false
            }
        }
    });
    </script>
    <script>
    var anchorForId = function (id) {
	var anchor = document.createElement("a");
	  anchor.className = "header-link";
	  anchor.href      = "#" + id;
	  anchor.innerHTML = "<i class=\"fa fa-link\"></i>";
	  return anchor;
	};

	var linkifyAnchors = function (level, containingElement) {
	  var headers = containingElement.getElementsByTagName("h" + level);
	  for (var h = 0; h < headers.length; h++) {
	    var header = headers[h];

	    if (typeof header.id !== "undefined" && header.id !== "") {
	      header.appendChild(anchorForId(header.id));
	    }
	  }
	};

	document.onreadystatechange = function () {
	  if (this.readyState === "complete") {
	    var contentBlock = document.getElementsByClassName("post")[0]
	    if (!contentBlock) {
	      return;
	    }
	    for (var level = 1; level <= 3; level++) {
	      linkifyAnchors(level, contentBlock);
	    }
	  }
	};
  
  add_external_links();

    </script>
  
  {% include inf.html %}

  </body>
</html>
