---
layout: default
---

<article id='posts-content' class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="added-hostname"><time style="display: inline;margin-right: 15px;" datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {% include social-button.html %}
  </p>
  
  <form class="filter-box">
  <input name="query" placeholder="type to filter" class="input-box title-filter">
  </form>
  {{ content }}
  <!--<p><small id="page_view">&nbsp;</small></p>-->
  <div class="pagination">
  {% if page.previous.url %}
  
  <a id="next-page" class="pagination-item older" href="{{ page.previous.url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next.url %}
    <a class="pagination-item newer" href="{{  page.next.url  }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  </div>
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

